<%- include ('partials/header.ejs')%>
<body class="bg-[#F4E9E4]">
    <header>
        <%- include ('partials/navbar.ejs')%>
    </header>
    <main>
        <section class="bg-[#F4E9E4] mb-40">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 ">404</h1>
                    <p class="mb-4 text-3xl tracking-tight font-bold text-orange-900 md:text-4xl">Estamos ainda em construção.</p>
                    <p class="mb-4 text-lg font-light text-black">Desculpe, não encontramos esta página. Por favor, retorne para a home page. </p>
                    <a href="#" class="inline-flex text-black bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">voltar a home</a>
                </div>   
            </div>
        </section>
    </main>
    <%- include ('partials/footer.ejs')%>
</body>
</html>