<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body class="bg-[#111111]">
    <section class="p-10">
        <h1 class="text-lg text-center text-slate-50">LOGIN</h1>
        <form action="/login" method="POST">
            <div class="mb-4 flex justify-center content-center">
                <input type="email" id="email" name="email" class="m-4 bg-[#111111] w-96 p-1 border border-gray-300 rounded-2xl" placeholder="E-mail" required>
            </div>
        </form>
    </section>
</body>
</html>